    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
<!--           <a class="brand goTop" href="#">Griny</a> -->
          <div class="nav-collapse">
            <ul class="nav">
              <li data-section="1"><a href="#">About</a></li>
              <li data-section="2"><a href="#services">Services</a></li>
              <li data-section="3"><a href="#works-bg">Portfolio</a></li>
              <li data-section="4"><a href="#works-bg">Contact</a></li>
              <li data-section="5"><a href="#works-bg">Partner</a></li>
              <li data-section="6"><a href="#works-bg">Imprint</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>


    <div id="welcome" class="parallax" style="background-image: url(https://s3-eu-west-1.amazonaws.com/nordspitz/bg4.jpg);">
      <div id="logotext" class="text">
        <h1>NORDSPITZ</h1>
        <p>Digital Manufaktur</p>
      </div>
    </div>



